# for API call
openai>=1.0.0

# for making HTTP requests
requests>=2.31.0

# for XML parsing
beautifulsoup4>=4.12.0

# Extract text in .pdf files
pdfplumber>=0.10.0

# GUI requirements
gradio == 4.44.1